<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EffekseerNET" culture="neutral" processorArchitecture="x86" />
        <codeBase version="1.0" href="x86/EffekseerNET.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EffekseerNET" culture="neutral" processorArchitecture="amd64" />
        <codeBase version="1.0" href="x64/EffekseerNET.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>